.heading{
    color: rebeccapurple;
}
.quote{
    display: block;
    text-align: center;
    color: #666;
    margin: 1rem 0; 
    font-style: italic;                   
}
.bold{
    font-weight: 900;
}