.heading{
    color: rebeccapurple;
}
.quote{
    display: block;
    text-align: center;
    color: #666;
    margin: 1rem 0; 
    font-style: italic;                   
}
.bold{
    font-weight: 900;
}
.postImage{
    height: 100%;
    width: 100%;
    max-height: 300px;
    max-width: 400px;
    float: left;
    margin-right: 1rem;

}
.alignedText{
    text-align: justify;
    word-break: break-word;
    line-height: 1.6;
}
.buttonsContainer{
    margin-left: calc(100% - 65px);
    min-height: 60px;
    border-image: repeating-linear-gradient(30deg, rebeccapurple, white 20px) 60;
}
.localeButton{
    margin: 2% 1%;
    text-transform: uppercase;
    border: 1px solid rebeccapurple;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: rebeccapurple;
}
.activeButton{
    font-weight: 900;
    border: none;
    color: white;
    background-color: rebeccapurple;
}
