
.article{
    line-height: 1.3;
}
  .header{
      width: 100vw;
      margin: 0;
      padding: 0;
      background-color: rebeccapurple;
      color: white;
      display: flex;
      padding: 1rem 2rem;
      position: relative;
  }
  .heading{
      color: rebeccapurple;
  }
  .nav-links{
      position: absolute;
      right: 10%;
      display: inline-flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0;
  }
  .nav-link-item{
      padding-inline: 2rem;
  }
  .nav-link-text{
      color: white;
  }
  .site-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
    display: inline;
  }
  body{
      margin: 0;
      overflow-x: hidden;
}