.footer{
    display: flex;
    justify-content: center;  
    gap: 8px;
    margin: 10% auto 1rem ;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.icon{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}
