.container {
    position: relative;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    max-width: 800px;
    font-family: sans-serif;
    overflow-y: hidden;
}
.navigation{
    z-index: 2;
}
@media screen and (max-width: 699px){
    .container{
        margin-inline: 20px;
    }
}
  .header{
     z-index: 2;
      width: 100vw;
      margin: 0;
      padding: 1.2% 3%;
      background-color: rebeccapurple;
      color: white;
      display: flex;
    
      position: sticky;
  }
  .heading{
      color: rebeccapurple;
  }
  .nav-links{
      position: absolute;
      right: 10%;
      display: inline-flex;
      justify-content: space-between;
      list-style: none;
  }
  .nav-link-item{
    margin-top: -2%;
    padding-inline: 2rem;
}
.nav-link-text{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in text-decoration;
}
  .nav-link-text:hover{
    text-decoration: #fff underline;
    text-decoration-skip: ink;
    text-underline-position: under;

  }
  .site-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
    display: inline;
  }
  .body{
      margin: 0;
      overflow: hidden;  
}
.logoImage{
    transform: scale(1.5);
    image-rendering: crispEdges;
}
.localeButton{
    margin: -2% 2% 0;
    text-transform: uppercase;
    background: transparent;
    border: none;
    outline: none;
    color: rebeccapurple
}
.activeButton{
    color: rgba(112, 120, 105, 0.6);
    font-weight: 900;
}
.menu{
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    left: calc(90% - 20px);
   ;
}
.nav-links-mobile{
     padding-inline-start: 0;
      margin-block-start: 0;
      position: relative;
      height: 100vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      gap: 10vh;
      list-style: none;
 }

 .nav-link-item-mobile{
   max-width: 90vw;
   padding-inline: 5vw;
}
.nav-link-text-mobile{
    color: white;
    line-height: 1.5;
    font-size: 24px;
}